@{
    Layout = null;
}

<h1>Add Menu</h1>

<div class="row">
    <div class="col-md-5">
        <img src="https://static01.nyt.com/images/2015/10/15/dining/15RECIPE20DIN/15RECIPE20DIN-master675.jpg" />
        <input id="mealImage" type="image">
    </div>
    <div class="col-md-7">
        <input class="single-line" id="mealTitle" name="MealTitle" type="text" value="">
        <input class="" id="mealDescription" name="MealDescription" type="text" value="">
        <input class="" id="mealQuantity" name="MealQuantity" type="number" value="">
        <select id="mealCategorySelect">
            <option>Salad</option>
            <option>Sandwich</option>
        </select>
    </div>
</div>

<div class="row">
    <button type="button" class="btn btn-primary">Submit Menu</button>
</div>
